Hack-fourth-week/music_env/
Hack-fourth-week/Music/
Hack-sixth-week/envs
Hack-seventh-week_02/Monday/envs
Hack-seventh-week_02/Weekend-Task/__pycache__/
Hack-seventh-week_02/Wednesday/__pycache__/
Hack-first-week/Monday/__pycache__/
