{% extends "base.html" %}

{% block content %}
    <table class="movies">
    <th>Movies!</th>
        {% for movie in movies %}
            <tr>
                <td>
                    {{ movie.name }}
                </td>
                <td>
                    {{ movie.rating }}
                </td>
                <td>
                    <img src="/media/{{ movie.cover }}">
                </td>
            </tr>
        {% endfor %}
    </table>
    <table class="projection">
    <th>Projections!</th>
    {% for projection in projections %}
        <tr>
            <td>
                {{ projection.movie.name }}
            </td>
            <td>
                {{ projection.type_projection }}
            </td>
            <td>
                {{ projection.date }}
            </td>
               <td>
                {{ projection.time_projection }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
